@page 
@model BMS.Web.Pages.Dashboard.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    var summary = Model.Summary;
}
@* summary of the data - using cards *@
<h1>Summary</h1>
<div class="row">
    <div class="col-6 col-md-4">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <h5 class="card-title display-1">@summary.TotalBooks.ToString("N0")</h5>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Total Books</small>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <h5 class="card-title display-1">@summary.TotalSizeGB</h5>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Total Size (GB)</small>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <h5 class="card-title display-1">@summary.UniqueFolders</h5>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Unique folders</small>
            </div>
        </div>
    </div>
</div>

<h1>Latest Added</h1>
<table class="table border-primary">
    <thead class="table-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">File Name</th>
        @* <th scope="col">Location</th>
        <th scope="col">Last Modified</th> *@
        <th scope="col">Cover</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BooksWithThumbnail.Select((book, index) => new {book, index}))
        {
            <tr>
            <th scope="row">@(item.index+1)</th>
                <td>@item.book.Title</td>
                @* <td>@item.book.DirectoryPath</td> *@
                @* <td>@item.book.AddedAt</td> *@
                <td>
                    <img src="@item.book.ThumbnailPath" class="img-thumbnail" alt="thumbnail">
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-page="/Books/Read" asp-route-id="@item.book.Id" class="btn btn-primary">Read</a>
                        <a asp-page="/Books/Delete" asp-route-id="@item.book.Id" class="btn btn-outline-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* charts / analytics *@
@* books by folder - Bar chart of how many PDFs per folder *@
@* books added over time - Line chart with AddedAt*@
@* book size distribution - Pie chart small / medium / large files*@
